#red{
    background-color:red;
}
#green{
    background-color:green;
}
#yellow{
    background-color:yellow;
}
#blue{
    background-color:blue;
}
#purple{
    background-color:purple;
}
#grey{
    background-color:grey;
}

@media (max-width: 600px){
    .container {
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: 80px;
        padding: 10px;
      }
      
      .container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      }
}

@media (min-width: 601px) and (max-width:960px) {
    .container {
        display: grid;
        grid-template-columns:300px 300px ;
        padding: 10px;
      }
      
      .container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 30px;
      }
}

@media (min-width: 961px){
    .container {
        display: grid;
        grid-template-columns:300px 300px 300px ;
        padding: 10px;
      }
      
      .container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 30px;
      }
}
